POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_postgres_database
POSTGRES_PORT=5433

DATABASE_URL=postgresql://your_postgres_user:your_url_encoded_postgres_password@localhost:5433/your_postgres_database?schema=public
DATABASE_URL_DOCKER=postgresql://your_postgres_user:your_url_encoded_postgres_password@db:5432/your_postgres_database?schema=public

JWT_SECRET=your_jwt_secret

PORT=3000
NODE_ENV=development
